{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
    <h1>Add Record</h1>
    <br/>

    <form method="POST" action="{% url 'voice_add' %}">
        {% csrf_token %}

        {{ desc_form.as_p }}

        <br/>
        <button type="button" class="btn btn-secondary" onclick="startDictation()">Fill via voice</button>
        <button type="submit" class="btn btn-secondary">Add Record</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    </form>
</div>

<script>
    function startDictation() {
        if (window.hasOwnProperty('webkitSpeechRecognition')) {
            var recognition = new webkitSpeechRecognition();

            recognition.continuous = false;
            recognition.interimResults = false;

            recognition.lang = "en-US";
            recognition.start();

            recognition.onresult = function(e) {
                // Make sure the ID here matches your form field ID
                document.querySelector('textarea[name="describe_pokemon"]').value = e.results[0][0].transcript;
                recognition.stop();
            };

            recognition.onerror = function(e) {
                recognition.stop();
            };
        } else {
            alert('Your browser does not support speech recognition. Please use a supported browser like Chrome.');
        }
    }
</script>

{% endblock %}
