{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}


<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Base Exp</th>
      <th scope="col">Height</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    
{% if records %}
	{% for record in records %}
		<tr>
			<td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
			<td>{{ record.name }}</td>
			<td>{{ record.experience }}</td>
			<td>{{ record.height }}</td>
			<td style="text-align: center;"><img src="{{ record.image_url }}" alt="{{ record.name }}" style="max-width: 100px; max-height: 100px;"></td>
			<td>{{ record.description }}</td>
		</tr>
	{% endfor %}

{% endif %}

	
	  </tbody>
	</table>





{% else %}

<div class="col-md-6 offset-md-3">
<h1>Trainer Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>



{% endif %}

{% endblock %}